.table {
    display: flex;
    /* width: 100%; */
    border: 1px solid black;
    flex-direction: column;
    box-sizing: border-box;
}

.head {
    width: 100%;
    display: flex;
    border: 1px solid black
}

.row {
    height: 35px;
    display: flex;
    width: 100%;
}

/* .row:hover, .col:hover , .accordion:hover{
    display: flex ;  
} */

.col {
    width: 100%;
    height: 100%;
}

.display {
    display: block !important;
}

.text-right {
    text-align: right;
}

.accordion {
    display: none;
    width: 100%;
}

.table-contaier {
    position: relative;
    top: 30px;
    /* width: 25%; */
}