<div class="table-contaier">
  <app-input (data)="createTable($event)"></app-input>

  <div *ngIf="cities.length > 0" class="table">

    <div class="row">
      <div class="col .text-right">City</div>
      <div class="col .text-right">Value</div>
      <div class="col">Parameter</div>
    </div>

    <div class="table" *ngFor='let city of  cities'>
      <div (click)="showDetails(reference.id)" class="row">
        <div class="col">{{city.city}}</div>
        <div class="col .text-right">{{city.value}}</div>
        <div class="col .text-right">{{city.parameter}}</div>
      </div>
      <div [id]="city.city" class="accordion" #reference>{{description}}</div>
    </div>

  </div>
</div>