.input-container {
    display: flex;
    margin: 10px;
}

.city-drop-down-contianer {
    display: none;
    background-color: red;
    position: absolute;
    height: 300px;
    width: 300px;
}

.input-container:hover .city-drop-down-contianer {
    display: flex;
}