<div class="input-container">
  <div>
    <label for="city">Chose City </label>
    <input id="city" class="city-input" list="city-list" (click)="reference.value=''" (input)="onSearchChange($event.target.value)" #reference>
    <datalist id="city-list">
      <option *ngFor="let name of citiesNames" [value]="name">

    </datalist>
  </div>
  <button (click)="getCity()" type="submit">Submit</button>
</div>