/* You can add global styles to this file, and also import other style files */

:root {
    /* --maincolor: #d6d6d6; */
    --maincolor: #ffffff;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--maincolor);
    justify-content: center;
    padding: 0;
    margin: 0;
    /* align-items: center; */
}